<html>
<head>
<script type="text/javascript" src="assets/js/qrcode.min.js"></script>
</head>
<body style="background-color: #d81e05">



    <div id="logo"></div>
    <h1 style="text-align:center; color:white; margin-top:20px">QR Auth</h1>
    <div id="qrbox">
    
        <div id="card">
            <figure class="front">
                <div id="qrcode"></div>
                <p id="text">Envía tus datos desde nuestra app escaneando este código QR cuando completes el formulario</p>
            </figure>
            <figure class="back">
                <h2>Usuario autenticado</h2>
                <pre id="json"></pre>
            </figure>
        </div>
    
    <div>




    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
        	width : 300,
        	height : 300
        });
        qrcode.makeCode(window.location.href+"<%= token %>");
    
    </script>
    <script>
      function updateState(state) {
          var d = document.getElementById("card");
          d.className += "flipped";
          var jsonPretty = JSON.stringify(state, true, 2);
          document.getElementById("json").innerHTML = jsonPretty;
      }
      var host = window.document.location.host.replace(/:.*/, '');
      var ws = new WebSocket('ws://' + document.location.host + '?token=<%= token %>');
      ws.onmessage = function (event) {
        updateState(JSON.parse(event.data));
      };
    </script>
    
    <style>
        h1 {
        	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        	font-size: 40px;
        	font-style: normal;
        	font-variant: normal;
        	font-weight: 500;
        	line-height: 40px;
        }
        h2 {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 25px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            margin-top: 25px;
        }
        p {
        	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 18px !important;
        	font-style: normal;
        	font-variant: normal;
        	font-weight: 400;
        	line-height: 22px;
        	text-align: center;
        	padding: 0 20px;
        } 
        
        #qrbox {
            width: 400px;
            height: 500px;
            margin: 0 auto;
            padding: 0;
            position: relative;
            perspective: 800px;
        }
        #card {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s;
        }
        #card figure {
            margin: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            border-radius: 20px;
        }
        #card .front {
            background: white;
        }
        #card .back {
            background: white;
            transform: rotateY( 180deg );
        }
        #card.flipped {
            transform: rotateY( 180deg );
        }
        #qrcode {
            margin-top: 40px;
            width:300px;
            height:300px;
            margin-bottom:40px;
            margin-left:auto;
            margin-right:auto;
            background-color:white;
        }
        pre#json {
            background: #eee;
            margin: 25px;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #ddd;
        }
        #logo {
            margin: 40px auto 20px auto;
            width: 400px;
            height: 94px;
            background-size: 400px 94px;
            background-image: url('assets/img/okode-logo.png'); 
        }
    </style>
</body>
</html>
